@charset "UTF-8";

@media all and (max-width: 768px) {
  body {
    font-family: "Roboto";
  }
  .header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }
  .logo {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }
  .omf-logo {
    width: 50%;
    display: flex;
    justify-content: center;
    margin: 20px 0 10px 0;
  }
  .location {
    display: flex;
    justify-content: center;
    background-color: #f0eded;
    width: 100%;
  }
  .pin {
    position: relative;
    top: 15px;
    right: 35px;
  }
  .welcome__text {
    background-color: #f5f5f5;
  }
  .welcome__text-h1 {
    display: flex;
    justify-content: center;
  }
  .welcome__text-p {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 15px;
    padding: 0 50px 0 50px;
  }
  .hiw {
    padding: 0 10px 0 10px;
    margin: 0 0 50px 0;
  }
  footer {
    background-color: #1b1b1b;
    width: 100%;
    height: 100%;
    padding: 20px 10px 20px 10px;
  }
  .row {
    display: block;
    padding: 1% 2%;
  }
  .footer__col ul {
    list-style: none;
    color: white;
  }
  .footer__col ul li {
    margin-bottom: 10px;
  }
  .footer__col {
    width: 25%;
    padding: 0 15px;
  }
  .footer__col h4 {
    font-family: "Shrikhand";
    font-size: 15px;
    color: white;
    text-transform: capitalize;
    margin-bottom: 25px;
  }
}
.explore {
  display: flex;
  justify-content: center;
}
.explore__btn {
  width: 200px;
  font-size: 13px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 20px;
  height: 55px;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
}

.bn632-hover:hover {
  background-position: 100% 0;
  moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.explore__btn:focus {
  outline: none;
}

.explore__btn.btn20 {
  background-image: linear-gradient(to right, #FF79DA, #FF79DA, #FF79DA, rgba(116, 79, 168, 0.75));
  box-shadow: 0 4px 15px 0 rgba(87, 74, 105, 0.75);
}

.numbered__buttons {
  list-style: none;
  padding: 0 0 0 10px;
}

/* Style for numbered buttons */
.numbered__buttons li {
  margin-top: 10px;
  position: relative;
}

.numbered__buttons li::before {
  content: attr(data-number);
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #9356DC; /* Circle background color */
  color: #fff; /* Text color for the number */
  border-radius: 50%; /* Make it a circle */
  text-align: center;
  line-height: 20px; /* Vertically center the number */
  position: absolute;
  left: -9px;
  top: 20px;
  margin-right: 10px; /* Adjust spacing between the circle and the text */
}

.bn17 {
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 0.1em;
  text-decoration: none;
  color: black;
  display: flex; /* Use flexbox to center vertically */
  flex-direction: column; /* Place each word on a separate line */
  align-items: flex-start; /* Center content horizontally */
  justify-content: center; /* Center content vertically */
  padding: 10px 40px 10px 80px;
  height: 40px;
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 0 10px 0 0;
  text-align: left;
}

.bn17 i {
  position: absolute;
  left: 45px;
  top: 24px;
}

.bn17:hover {
  background-color: #9356DC;
  box-shadow: 2px 4px 2px 0 rgba(229, 229, 231, 0.75);
}

.heart-checkbox {
  display: none;
}

.heart-icon {
  position: absolute;
  bottom: 10px; /* Adjust as needed */
  right: 10px; /* Adjust as needed */
  cursor: pointer;
  font-size: 30px; /* Adjust size as needed */
  color: red;
  transition: all 0.3s ease;
}

.heart-icon::before {
  content: "♡"; /* Heart shape */
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: red;
  -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
          clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
  transition: -webkit-clip-path 0.6s ease;
  transition: clip-path 0.6s ease;
  transition: clip-path 0.6s ease, -webkit-clip-path 0.6s ease;
}

.heart-checkbox:checked + .heart-icon::before {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.res__cards {
  padding: 20px 10px 20px 10px;
  background-color: #f5f5f5;
}

.card {
  min-width: 250px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 200px;
  max-height: 280px;
  background-color: rgb(248, 246, 246);
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  position: relative;
}

.card-img {
  box-sizing: border-box;
  width: 100%;
  height: 200px;
  border-radius: 20px;
  border-bottom-left-radius: 0%;
  border-bottom-right-radius: 0%;
}

.card__content {
  padding: 10px 0 5px 15px;
}

.card__title {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

.card__description {
  font-size: 14px;
  margin: 10px 0;
}

.card-link,
.card a {
  text-decoration: none;
  color: inherit; /* Optional: This ensures that the link color matches the rest of the text */
}

.new-label {
  position: absolute;
  top: 10px; /* Adjust as needed */
  right: 10px; /* Adjust as needed */
  background-color: #99E2D0; /* Example: a gold color for visibility */
  color: white;
  padding: 5px 20px 5px 20px;
  border-radius: 5px;
  font-size: 0.8em;
  text-transform: uppercase;
}

.spinner-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  animation: fadeOut 5s 1;
  animation-fill-mode: forwards;
}

.spinner {
  border: 5px solid #f3f3f3;
  border-top: 5px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}/*# sourceMappingURL=styles.css.map */