
@media all and (max-width: 768px) {
  body {
    font-family: "Roboto";
    font-weight: 500;
    padding: 10px;
  }
  .header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }
  .logo {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }
  .logo__alt {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }
  .logo__alt i {
    margin: 10px 60px 0 20px;
    color: black;
  }
  .omf-logo {
    width: 50%;
    display: flex;
    justify-content: center;
    margin: 20px 0 10px 0;
  }
  .menu {
    margin-bottom: -80px;
  }
  .menu__text {
    display: flex;
    flex-direction: row;
    font-size: 10px;
  }
  .menu__text p {
    margin: 0;
  }
  .menu__p {
    margin-top: 5px;
    font-size: 10px;
    font-weight: 500;
    padding-right: 60px;
  }
  .menu__pic img {
    width: 100%;
    height: 200px;
  }
  .menu__list {
    position: relative;
    top: -70px;
    background-color: rgb(240, 236, 236);
    border-radius: 30px 30px 0px 0px;
    width: 100%;
    height: 800px;
  }
  .menu h1 {
    font-family: Shrikhand;
    font-size: 19px;
    padding-top: 20px;
    padding-left: 20px;
  }
  .entrees_list h5 {
    position: relative;
    padding: 0 0 0 20px;
  }
  .entrees_list h5::after {
    display: block;
    content: "";
    width: 40px;
    height: 3px;
    background: #99E2D0;
    position: absolute;
    bottom: -10px;
    left: 20px;
  }
  .location {
    display: flex;
    justify-content: center;
    background-color: #f0eded;
    width: 100%;
  }
  .location.p {
    font-weight: 100;
  }
  .pin {
    position: relative;
    top: 15px;
    right: 35px;
  }
  .welcome__text {
    background-color: #f5f5f5;
    padding-bottom: 40px;
  }
  .welcome__text-h1 {
    display: flex;
    justify-content: center;
    font-size: 15px;
  }
  .welcome__text-p {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 16px;
    padding: 0 50px 0 50px;
    font-weight: 300;
  }
  .hiw {
    padding: 0 10px 0 10px;
    margin: 0 0 50px 0;
  }
  footer {
    background-color: #1b1b1b;
    height: 100%;
    padding: 20px 10px 20px 10px;
  }
  .row {
    display: block;
    padding: 1% 2%;
  }
  .footer__col ul {
    list-style: none;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 0;
  }
  .footer__col ul li {
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
    font-size: 9px;
    width: 100px;
    font-weight: bold;
  }
  .footer__col ul li i {
    font-size: 8px;
    margin-right: 5px;
  }
  .footer__col {
    width: 25%;
    padding: 0 15px;
  }
  .footer__col h4 {
    font-family: "Shrikhand";
    font-size: 15px;
    color: white;
    text-transform: capitalize;
    margin-bottom: 25px;
  }
}
@media all and (max-width: 768px) {
  .explore {
    display: flex;
    justify-content: center;
  }
  .explore__btn {
    width: 200px;
    font-size: 13px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align: center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
  }
  .explore__btn:hover {
    background-position: 100% 0;
    moz-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
  .explore__btn:focus {
    outline: none;
  }
  .explore__btn.btn20 {
    background-image: linear-gradient(to left, #9356DC, #9356DC, #FF79DA);
    box-shadow: 0 4px 15px 0 rgba(87, 74, 105, 0.75);
  }
  .numbered__buttons {
    list-style: none;
    padding: 0 0 0 10px;
  }
  /* Style for numbered buttons */
  .numbered__buttons li {
    margin-top: 10px;
    position: relative;
  }
  .numbered__buttons li::before {
    content: attr(data-number);
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #9356DC; /* Circle background color */
    color: #fff; /* Text color for the number */
    border-radius: 50%; /* Make it a circle */
    text-align: center;
    line-height: 20px; /* Vertically center the number */
    position: absolute;
    left: -9px;
    top: 20px;
    margin-right: 10px; /* Adjust spacing between the circle and the text */
  }
  .bn17 {
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 0.1em;
    text-decoration: none;
    color: black;
    display: flex; /* Use flexbox to center vertically */
    flex-direction: column; /* Place each word on a separate line */
    align-items: flex-start; /* Center content horizontally */
    justify-content: center; /* Center content vertically */
    padding: 10px 40px 10px 80px;
    height: 40px;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 0 10px 0 0;
    text-align: left;
  }
  .bn17.bn17:hover {
    background-color: #f0e9f8;
    box-shadow: 2px 4px 2px 0 rgba(229, 229, 231, 0.75);
  }
  .bn17.bn17:hover.bn17 i:hover {
    color: #9356DC;
  }
  .bn17 i {
    position: absolute;
    left: 45px;
    top: 20px;
    color: grey;
    font-size: 15px;
  }
  #toggle-heart1 {
    display: none;
    position: relative;
  }
  #toggle-heart2 {
    display: none;
    position: relative;
  }
  #toggle-heart3 {
    display: none;
    position: relative;
  }
  #toggle-heart4 {
    display: none;
    position: relative;
  }
  label svg {
    fill: transparent; /* Set initial fill to transparent or your desired initial color */
    stroke: rgb(0, 0, 0); /* This sets the outline color */
    stroke-width: 10px;
    cursor: pointer;
    position: absolute;
    bottom: 25px; /* Adjust as needed */
    right: -80px; /* Adjust as needed */
    transition: fill 10s ease-in;
  }
  /* Define a linear gradient */
  .linear-gradient-heart {
    background: linear-gradient(to bottom, #9356DC, #FF79DA); /* Example gradient colors */
  }
  /* Apply gradient fill when heart is clicked */
  #toggle-heart1:checked + label svg path {
    fill: url(#linear-gradient-heart);
  }
  #toggle-heart2:checked + label svg path {
    fill: url(#linear-gradient-heart);
  }
  #toggle-heart3:checked + label svg path {
    fill: url(#linear-gradient-heart);
  }
  #toggle-heart4:checked + label svg path {
    fill: url(#linear-gradient-heart);
  }
  #toggle-heart5 {
    display: none;
    position: relative;
  }
  .inner-heart {
    fill: transparent; /* Set initial fill to transparent or your desired initial color */
    stroke: rgb(0, 0, 0); /* This sets the outline color */
    stroke-width: 10px;
    cursor: pointer;
    position: absolute;
    top: 26px; /* Adjust as needed */
    right: -60px; /* Adjust as needed */
    transition: fill 10s ease-out;
  }
  #toggle-heart5:checked + label svg path {
    fill: url(#linear-gradient-heart);
  }
  .menu__list--btn {
    list-style: none;
    padding: 0 0 0 10px;
    margin: 0 10px 0 0;
  }
  /* Style for numbered buttons */
  .menu__list--btn li {
    margin-top: 10px;
    position: relative;
  }
  .menu__btn {
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 0.1em;
    text-decoration: none;
    color: black;
    display: flex; /* Use flexbox to center vertically */
    flex-direction: column; /* Place each word on a separate line */
    align-items: flex-start; /* Center content horizontally */
    justify-content: center; /* Center content vertically */
    padding: 20px 0px 5px 10px;
    height: 40px;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: left;
    background-color: white;
  }
}
@media all and (max-width: 768px) {
  .res__cards {
    padding: 20px 10px 20px 10px;
    background-color: #f5f5f5;
  }
  .card {
    min-width: 250px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 200px;
    max-height: 280px;
    background-color: rgb(248, 246, 246);
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    position: relative;
  }
  .card-img {
    box-sizing: border-box;
    width: 100%;
    height: 200px;
    border-radius: 20px;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
  }
  .card__content {
    padding: 10px 0 5px 15px;
  }
  .card__title {
    margin: 0;
    padding: 0;
    font-size: 16px;
  }
  .card__description {
    font-size: 14px;
    margin: 10px 0;
  }
  .card__description p {
    font-weight: 10px;
  }
  .card-link,
  .card a {
    text-decoration: none;
    color: inherit; /* Optional: This ensures that the link color matches the rest of the text */
  }
  .new-label {
    position: absolute;
    top: 10px; /* Adjust as needed */
    right: 10px; /* Adjust as needed */
    background-color: #99E2D0; /* Example: a gold color for visibility */
    color: #279277;
    padding: 5px 20px 5px 20px;
    border-radius: 5px;
    font-size: 0.8em;
    text-transform: uppercase;
  }
}
.spinner-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  animation: fadeOut 5s 1;
  animation-fill-mode: forwards;
}

.spinner {
  border: 5px solid #f3f3f3;
  border-top: 5px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.menu .entrees_list .menu__list--btn li {
  opacity: 0; /* Initially hide the items */
  animation-name: fadeInUp;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.menu .entrees_list .menu__list--btn li:nth-child(1) {
  animation-delay: 0.5s; /* Delay for the first item */
}

.menu .entrees_list .menu__list--btn li:nth-child(2) {
  animation-delay: 0.6s; /* Delay for the second item */
}

.menu .entrees_list .menu__list--btn li:nth-child(3) {
  animation-delay: 0.7s; /* Delay for the third item */
}

/* Base styles for list items */
.menu .entrees_list .menu__list--btn li {
  position: relative;
  overflow: hidden; /* Ensures that the animation stays within the list item */
}

/* Green square styles */
.green-square {
  overflow: hidden;
  position: absolute;
  right: 0px;
  top: 0;
  width: 0; /* Initially no width */
  height: 100%;
  border-radius: 0 20px 20px 0;
  background-color: #99E2D0;
  transition: width 0.5s ease-in-out; /* Smooth transition for width */
  display: flex;
  justify-content: center; /* Center child elements */
  align-items: center;
}

/* White circle and checkmark styles */
.checkmark {
  width: 30px; /* Adjust size as needed */
  height: 30px; /* Adjust size as needed */
  background-color: white;
  border-radius: 50%; /* Makes it circular */
  transform: rotate(0deg) scale(1); /* Start scaled down */
  transition: transform 0.5s ease-in-out; /* Smooth transition for rotation and scaling */
  display: flex; /* Enables flexbox layout */
  justify-content: center; /* Centers content horizontally */
  align-items: center; /* Centers content vertically */
}

.checkmark i {
  /* Styles for the icon */
  font-size: 20px; /* Adjust the size of the icon as needed */
  color: #99E2D0;
}

/* Animation on hover */
.menu .entrees_list .menu__list--btn li:hover .green-square {
  width: 20%; /* Expand to 20% of the list item width */
}

.menu .entrees_list .menu__list--btn li:hover .checkmark {
  transform: rotate(360deg) scale(1); /* Rotate and scale up the checkmark */
}/*# sourceMappingURL=styles.css.map */