@media all and (max-width: 768px){
.explore {
    @include flex-centred;
    &__btn {
      width: 200px;
      font-size: 13px;
      font-weight: 600;
      color: #fff;
      cursor: pointer;
      margin: 20px;
      height: 45px;
      text-align:center;
      border: none;
      background-size: 300% 100%;
      border-radius: 50px;
    }
  }
 

  .explore__btn:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }
  
  
  .explore__btn:focus {
    outline: none;
  }
  
  .explore__btn.btn20 {
    background-image: linear-gradient(to left, #9356DC, #9356DC, #FF79DA );
    box-shadow: 0 4px 15px 0 rgba(87, 74, 105, 0.75);
  }


  .hiw li:hover a {
    /* Style for the text on hover */
    color: black; /* Or any color for the text */
    background-color: #f0e9f8; /* Change the background color */
}

.hiw li:hover a i {
    /* Style for the icon on hover */
    color: $primary-color; /* Change the color of the icon */
}


.numbered__buttons {
  list-style: none;
  padding: 0 0 0 10px;
}

/* Style for numbered buttons */
.numbered__buttons li {
  margin-top: 10px;
  position: relative;
  // &.numbered__buttons:hover{
  //   background-color: #f0e9f8;
  //   box-shadow: 2px 4px 2px 0 rgba(229, 229, 231, 0.75);
  //   &.numbered__buttons i:hover{
  //     color: #9356DC;
  //   }
  // }
}

.numbered__buttons li::before {
  content: attr(data-number);
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: $primary-color; /* Circle background color */
  color: #fff; /* Text color for the number */
  border-radius: 50%; /* Make it a circle */
  text-align: center;
  line-height: 20px; /* Vertically center the number */
  position: absolute;
  left: -9px;
  top: 20px;
  margin-right: 10px; /* Adjust spacing between the circle and the text */
}

.bn17 {
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 0.1em;
  text-decoration: none;
  color: black;
  display: flex; /* Use flexbox to center vertically */
  flex-direction: column; /* Place each word on a separate line */
  align-items: flex-start; /* Center content horizontally */
  justify-content: center; /* Center content vertically */
  padding: 10px 40px 10px 80px;
  height: 40px;
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 0 10px 0 0;
  text-align: left;
  // &.bn17:hover{
  //   background-color: #f0e9f8;
  //   box-shadow: 2px 4px 2px 0 rgba(229, 229, 231, 0.75);
  //   &.bn17 i:hover{
  //     color: #9356DC;
  //   }
  // }
}

.bn17 i {
  position: absolute;
  left: 45px;
  top: 20px;
  color: grey;
  font-size: 15px;
}


#toggle-heart1 {
  display: none;
  position: relative;
}

#toggle-heart2 {
  display: none;
  position: relative;
}

#toggle-heart3 {
  display: none;
  position: relative;
}

#toggle-heart4 {
  display: none;
  position: relative;
}

label svg {
  fill: transparent; /* Set initial fill to transparent or your desired initial color */
  stroke:  rgb(0, 0, 0); /* This sets the outline color */
  stroke-width: 10px;
  cursor: pointer;
  position: absolute;
  bottom: 25px; /* Adjust as needed */
  right: -80px; /* Adjust as needed */
  transition: fill 10s ease-in;
  }


  /* Define a linear gradient */
.linear-gradient-heart {
  background: linear-gradient(to bottom,  #9356DC, #FF79DA ); /* Example gradient colors */
}

/* Apply gradient fill when heart is clicked */
#toggle-heart1:checked + label svg path {
  fill: url(#linear-gradient-heart);
}

#toggle-heart2:checked + label svg path {
  fill: url(#linear-gradient-heart);
}

#toggle-heart3:checked + label svg path {
  fill: url(#linear-gradient-heart);
}

#toggle-heart4:checked + label svg path {
  fill: url(#linear-gradient-heart);
}

#toggle-heart5 {
  display: none;
  position: relative;
}

.inner-heart{
  fill: transparent; /* Set initial fill to transparent or your desired initial color */
  stroke:  rgb(0, 0, 0); /* This sets the outline color */
  stroke-width: 10px;
  cursor: pointer;
  position: absolute;
  top: 26px; /* Adjust as needed */
  right: -60px; /* Adjust as needed */
  transition: fill 10s ease-out;
}




#toggle-heart5:checked + label svg path {
  fill: url(#linear-gradient-heart);
}

.menu__list--btn {
  list-style: none;
  padding: 0 0 0 10px;
  margin: 0 10px 0 0;
}

/* Style for numbered buttons */
.menu__list--btn li {
  margin-top: 10px;
  position: relative;
}




// .menu__list--btn li::before {
//   content: attr(data-number);
//   display: inline-block;
//   width: 20px;
//   height: 20px;
//   background-color: $primary-color; /* Circle background color */
//   color: #fff; /* Text color for the number */
//   border-radius: 50%; /* Make it a circle */
//   text-align: center;
//   line-height: 20px; /* Vertically center the number */
//   position: absolute;
//   left: -9px;
//   top: 20px;
//   margin-right: 10px; /* Adjust spacing between the circle and the text */
// }

.menu__btn {
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 0.1em;
  text-decoration: none;
  color: black;
  display: flex; /* Use flexbox to center vertically */
  flex-direction: column; /* Place each word on a separate line */
  align-items: flex-start; /* Center content horizontally */
  justify-content: flex-start; /* Center content vertically */
  overflow: hidden;
  padding: 20px 0px 5px 10px;
  height: 40px;
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: left;
  background-color: white;
  
}

.price{
  font-size: 14px;
}

}

