@media all and (max-width: 768px){
    body{
        font-family: "Roboto";
        font-weight:300;
        padding: 10px;
    }


    .header{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }
    
    .logo{
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }
    .omf-logo{
        width: 50%;
        @include flex-centred;
        margin: 20px 0 10px 0;
        
   }

   .location{
    @include flex-centred;
    background-color: #f0eded;
    width: 100%;
    &.p{
        font-weight: 100;
    }
   }

   .pin{
    position: relative;
    top: 15px;
    right: 35px;
   }
   
   .welcome__text{
    background-color: #f5f5f5;
    padding-bottom: 40px;
   }

   .welcome__text-h1{
   @include flex-centred;
   font-size: 15px
   }

   .welcome__text-p{
   @include flex-centred;
   text-align: center;
    font-size: 16px;
    padding: 0 50px 0 50px;
    font-weight: 100;
   }

  
   .hiw{
    padding: 0 10px 0 10px;
    margin: 0 0 50px 0;
   }

   footer {
    background-color: #1b1b1b;
    height: 100%;
    padding: 20px 10px 20px 10px;
 }

 .row{
   display: block;
   padding: 1% 2%;
 }

 .footer__col ul{
   list-style: none;
   color: white;
   display: flex;
   flex-direction: column;
   padding: 0;

 }

 .footer__col ul li{
   display: flex;
   align-items: flex-start;
   margin-bottom: 10px;
   font-size: 9px;
   width: 100px;
   font-weight: bold;
 }

 .footer__col{
 width: 25%;
 padding: 0 15px;
 }

 .footer__col h4{
   font-family:'Shrikhand';
   font-size: 15px;
   color: white;
   text-transform: capitalize;
   margin-bottom: 25px;
 }

}
    
