@media all and (max-width: 768px){
    body{
        font-family: "Roboto";
        font-weight:500;
        padding: 10px;
    }

    .header{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }
    
    .logo{
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }
    
    .logo__alt{
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      & i {
        margin: 10px 60px 0 20px;
        color: black;
      }
    }

    .omf-logo{
        width: 50%;
        @include flex-centred;
        margin: 20px 0 10px 0;
   }

   .menu{
    margin-bottom: -80px;
   }

   .menu__text{
    display: flex;
    flex-direction: row;
    font-size: 10px;
   }
   .menu__text p {
    margin: 0;
    
   }

   .menu__p{
    margin-top: 5px;
    font-size: 10px;
    font-weight: 500;
    padding-right: 60px;
   }

   .menu__pic img{
     width:100% ;
     height: 200px;
   }

   .menu__list{
    position: relative;
    top: -70px;
    background-color: rgb(240, 236, 236);
    border-radius: 30px 30px 0px 0px;
    width: 100%;
    height: 800px;
    
   }

   .menu h1{
    font-family:Shrikhand;
    font-size: 19px;
    padding-top: 20px;
    padding-left: 20px;
   }

   .entrees_list h5{
    position: relative;
    padding: 0 0 0 20px;
   }

   .entrees_list h5::after{
    display: block;
    content: '';
   width: 40px;
   height: 3px;
   background: $tertiary-color;
   position: absolute;
   bottom: -10px;
   left: 20px;
   }


   .location{
    @include flex-centred;
    background-color: #f0eded;
    width: 100%;
    &.p{
        font-weight: 100;
    }
   }

   .pin{
    position: relative;
    top: 15px;
    right: 35px;
   }
   
   .welcome__text{
    background-color: #f5f5f5;
    padding-bottom: 40px;
   }

   .welcome__text-h1{
   @include flex-centred;
   font-size: 15px
   }

   .welcome__text-p{
   @include flex-centred;
   text-align: center;
    font-size: 16px;
    padding: 0 50px 0 50px;
    font-weight: 300;
   }

  
   .hiw{
    padding: 0 10px 0 10px;
    margin: 0 0 50px 0;
   }

   footer {
    background-color: #1b1b1b;
    height: 100%;
    padding: 20px 10px 20px 10px;
 }

 .row{
   display: block;
   padding: 1% 2%;
 }

 .footer__col ul{
   list-style: none;
   color: white;
   display: flex;
   flex-direction: column;
   padding: 0;

 }

 .footer__col ul li{
   display: flex;
   align-items: flex-start;
   margin-bottom: 10px;
   font-size: 9px;
   width: 100px;
   font-weight: bold;
  & i{
    font-size: 8px;
    margin-right: 5px;
  }
 }

 .footer__col{
 width: 25%;
 padding: 0 15px;
 }

 .footer__col h4{
   font-family:'Shrikhand';
   font-size: 15px;
   color: white;
   text-transform: capitalize;
   margin-bottom: 25px;
 }

}
    
